<div class="container afu-container">

  <h3 class="title">Healthcare Data Masking</h3>



<div class="grid-container">

    <div class="grid-child purple">
 <label for="exampleFormControlTextarea1" class="form-label">Data to be Masked</label>
        <mat-form-field style="width: 300px;">
    <textarea matInput rows="10" cols="55" placeholder="text"></textarea>
</mat-form-field>
    </div>

    <div class="grid-child green">
 <label for="exampleFormControlTextarea2" class="form-label">Masked Data</label>
        <mat-form-field style="width: 300px;">
    <textarea matInput rows="10" cols="55" placeholder="text"></textarea>
</mat-form-field>

    </div>
  
</div>
  

 

<div >
    <h4>Upload files to be Masked</h4>
    <angular-file-uploader [config]="afuConfig3" [resetUpload]=resetUpload3 (ApiResponse)="docUpload($event)">
    </angular-file-uploader>
  </div>
  <br>
  <br>

    
<div class="pt-4 row justify-content-md-center">
  <div class="col-1" style="text-align: center">
    <button type="button" >Mask</button>
  </div>
</div>




  




