<form>

  
<div class="inner-container">
  <div class="container-header">
   <h1><b><u> <p style="color:rgb(70, 5, 13);">Healthcare Data Masking </p></u></b></h1>                                                                                        
  </div>
<div  class="row justify-content-center">
   <div class="grid-container">

  

    <div class="grid-child purple">
      <label><h2><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Data to be Masked</b></h2></label>
      
           <textarea input type="text" id ="rcorners2" class="form-control"   rows="10" cols="10" placeholder="text" #box>

           </textarea>
         

        </div>

 
    <div class="grid-child green">

      <label><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Masked Data</b></h2></label>
      <textarea input type="text" id="rcorners2" class="form-control"  rows="10" cols="10" placeholder="text" #box>

      </textarea>
        </div>

  </div>
   

  <div class="container-afu-container-header">
  
             </div>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;
             <button type="button" align="center" class="button"(click)="gtvalue(box.value)" >MASK DATA</button>

             <b><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload files to be Masked</h4></b>
             <div class="container-afu-container">
              <angular-file-uploader [config]="afuConfig3" [resetUpload]=resetUpload3 (ApiResponse)="docUpload($event)">
              </angular-file-uploader>  
              
     
  </div>
             

 
  
  



</div>
</div>

<style>
  .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  input[type=text] {
  width: 100%;
  padding: 120px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 50px; 
  width: 500px;
  height: 200px;  
}

body {
  background-color: rgb(168, 233, 255);
}






  </style>


</form>